#story_replys_wrap {
    width: 400px;
    height: 100%;
    margin: auto;
    color: #fff;
    background-color:#222;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0 0 100px #111;
}

#story_replys_wrap .story_replys_header {
    text-align: center;
    font-weight: 600;
    font-size: 1em;
    line-height: 50px;
}

#story_replys_overflow {
    width: 400px;
    height: 489px;
    overflow-y: scroll;
    padding-bottom: 60px;
    box-sizing: border-box;
    &::-webkit-scrollbar{
        display: none;
    }  
}

#story_replys_overflow .story_reply_empty {
    text-align: center;
    margin-top: 200px;
}

#story_replys_overflow .story_reply {
    display: flex;
    padding: 10px 10px;
    margin-bottom: 10px;
    position: relative;
}
#story_replys_overflow .story_reply .story_reply_writer_profile {
    width: 40px;
    height: 40px;      
    line-height: 40px;
    border-radius: 40px;
    background-color: #fff;
    margin-right: 10px;
    overflow: hidden;
    display: flex;
	justify-content: center;
	align-items: center;
    img {
        max-width: 40px;
        min-width: 40px;
        object-fit: contain;
    }
}
#story_replys_overflow .story_reply .story_reply_writer_info {
    width: 330px;
}

#story_replys_overflow .story_reply .story_reply_writer_info .story_reply_writer_id {
    line-height: 20px;
    font-size: 0.9em;
    span.reply_delete_btn {
        margin-left: 10px;
        font-size: 0.8em;
        color: #aaa;
        cursor: pointer;
    }
}
#story_replys_overflow .story_reply .story_reply_writer_info .story_reply_writer_txt {
    width: 330px;
    word-break: break-all;
    line-height: 20px;
    font-size: 0.8em;
}

#story_replys_wrap .story_reply_input {
    display: flex;
    padding: 20px 10px;
    position: absolute; bottom: 0;
    border-top: 1px solid #aaa;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

#story_replys_wrap .story_reply_input .story_reply_input_profile_thum {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    overflow: hidden;
    background-color: #fff;
    margin-right: 10px;
    display: flex;
	justify-content: center;
	align-items: center;
    img {
        max-width: 40px;
        min-width: 40px;
        object-fit: contain;
    }
}

#story_replys_wrap .story_reply_input .story_reply_input_txt {
    width: 330px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}
#story_replys_wrap .story_reply_input .story_reply_input_txt input[name='r_txt'] {
    width: 263px;
    line-height: 38px;
    padding:0 10px;
    outline: none;
    background-color: inherit;
    border: none;
    color: #fff;
    vertical-align: top;
}

#story_replys_wrap .story_reply_input .story_reply_input_txt button.send_btn_activ {
    margin-top: 4px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    background-color: #3897f0;
    border: none;
    line-height: 30px;
    cursor: pointer;
}

#story_replys_wrap .story_reply_input .story_reply_input_txt button.send_btn_disabled {
    margin-top: 4px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    background-color: #666;
    border: none;
    line-height: 30px;
    cursor: pointer;
}
div.story_reply_writer_info div.re_reply_write_btn {
    display: inline-block;
    font-size: 0.8em;
    color: #aaa;
    font-weight: bold;
    margin: 5px 0;
    cursor: pointer;
}
#re_reply_write_form_wrap_show {
    display: flex;
    margin-top: 5px;
}
#re_reply_write_form_wrap_hide {
    display: none;
    margin-top: 5px;
}
#re_reply_write_form_wrap_show div.re_reply_write_form_Profile {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
	justify-content: center;
	align-items: center;

    img {
        max-width: 20px;
        max-height: 20px;
        object-fit: contain;
    }

}
#re_reply_write_form_wrap_show div.re_reply_write_form_input {
    width: 202px;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 10px;
    height: 20px;
    margin-left: 5px;
    input[type="text"] {
        color: #fff;        
        border: none;
        background-color: inherit;
        height: 20px;  
        box-sizing: border-box; 
        vertical-align: top;
        padding-left: 5px;
        outline: none;
        margin-right: 2px;
    }
    button {
        margin-top: 2px;
        width: 24px;
        height: 16px;
        border-radius: 20px;
        background-color: inherit;
        border: none;
        line-height: 20px;
        cursor: pointer;
        overflow: hidden;
        img {
            height: 18px;
        }
    }
}
#re_reply_write_form_wrap_show div.re_reply_write_close_btn {
    margin-top: 1px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    div:nth-child(1) {
        position: absolute;
        width: 15px;
        height: 2px;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
        background-color: #fff;
        transform: rotate(45deg);
    }
    div:nth-child(2) {
        position: absolute;
        width: 15px;
        height: 2px;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
        background-color: #fff;
        transform: rotate(-45deg);
    }
}

/* 대댓글 CSS*/
div.story_reply_writer_info p.re_reply_list_btn {
    font-size: 0.8em;
    color: #aaa;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
}

#re_reply_list_wrap {
    display: flex;
    padding: 5px 5px;
}

#re_reply_list_wrap .re_reply_writer_profile {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #fff;
    display: flex;
	justify-content: center;
	align-items: center;
    img {
        max-width: 30px;
        max-height: 30px;
        object-fit: contain;
    }
}

#re_reply_list_wrap .re_reply_writer_id {
    height: 16px;
    line-height: 16px;
    font-size: 0.8em;
}
#re_reply_list_wrap .re_reply_writer_txt {
    line-height: 16px;
    font-size: 0.8em;
}
#re_reply_delete_btn {
    font-size: 0.9em;
    margin-left: 10px;
    color: #aaa;
    cursor: pointer;
}