#header_wrap {
    width: 752px;
    height: 80px;
    border-bottom: 1px solid #ddd;
    
}

#header_logo {
    width: 300px;
    margin:0 auto;
    height: 100%;
    position: relative;
}

#header_logo img {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    width: 100%;
}