#message_member_wrap {
    display: flex;
    
}

#message_member_wrap div.member_wrap {
    
    width: 250px;
    border-right: 1px solid #ddd;
    height: 600px;
    padding: 10px;
}

#message_member_wrap h3 {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

#message_member_wrap div.logined_view_input_text_wrap {
    
    height: 40px;
    margin: auto;
}

#message_member_wrap div.logined_view_input_text_wrap input[name="search_member"]{
    width: 210px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
    vertical-align: top;    
    outline: none;
}

#message_member_wrap div.logined_view_input_text_wrap span.search_btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
    vertical-align: top;
    text-align: center;
    padding-top: 5px;
    &:hover {
        background-color: #e8e8e8;
    }
}
#message_member_wrap div.logined_view_input_text_wrap span.search_btn img {
    width: 70%;
    cursor: pointer;
}

#message_member_wrap div.search_result_wrap {
    margin-top: 40px;
    text-align: left;
    display: none;
}

#message_member_wrap div.search_result_wrap ul.search_result {
    width: 250px;
    height: 450px;
    /* margin: auto; */
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}

#message_member_wrap div.search_result_wrap ul.search_result li {
    display: flex;
    padding: 10px;
    border-radius: 7px;
    &:hover {
        cursor: pointer;
        background-color: #eee;
    }
}
#message_member_wrap div.search_result_wrap ul.search_result li div.search_result_frofile_thum_wrap {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ddd;
    overflow: hidden;
}
#message_member_wrap div.search_result_wrap ul.search_result li div.search_result_frofile_thum_wrap img {
    width: 100%;
}
#message_member_wrap div.search_result_wrap ul.search_result li div.search_result_frofile_info_wrap {
    
    p {
        text-align: left;
        padding-left: 10px;
        height: 25px;
        line-height: 25px;
    }
}

#message_member_wrap div.message_wrap {
    flex: 1;
    
}

#message_member_wrap div.messge_header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

#message_member_wrap div.messge_header_img {
    margin-right: 10px; 
}

#message_member_wrap div.messge_header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#message_member_wrap div.header_id {
    margin-left: 10px;
}

#message_member_wrap div.header_id > div {
    margin-bottom: 3px;
}
